/** POPUP DEFINE USERNAME */
.popup {
  z-index: 10000;
  text-align: center;
  position: fixed;
  width: 300px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #031549;
  text-align: center;
  box-shadow: -1px 92px 99px -62px rgba(3, 107, 255, 0.27), 0 1px 6px 0 rgba(10, 48, 255, 0.48);
  border-radius: 5px;
}

.popup input,
.popup input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;

}

.popup input[type="text"]:focus {
  width: 280px;
  -webkit-animation: 9s colorChange alternate;
  transition height 0.3s,
  width 0.3s 0.1s input: focus ~ .border
}

.popup input[type="submit"] {
  width: 160px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.popup input[type="submit"]:hover {
  background: #2ecc71;
}

.popup h3 {
  font-size: 18px;
}

.popup p {
  margin: 10px 0px 20px 0px;
  font-size: 16px;
  color: #454545;
}

.popup .button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  margin: 0px 5px;
  height: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

#userName {
  border-radius: 20px;
}

.popup .button-yes {
  background-color: #31d2e7;
  color: #FFF;
  margin-bottom: 10px;
}

.popup .button-yes:hover {
  background-image: none;
  background-color: #aa31e7;
}

/** ORDER LIST */
#order-list-title {
  color: aqua;
}

.order-list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 400px;
  padding: 5px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  overflow-y: auto;
}

.order-list ol {
  padding-left: 50px;
}

.order-list li {
  color: #fcfcfc;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

.order-list li:before {
  content: "";
  display: block;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 2px solid #ddd;
  position: absolute;
  top: -10px;
  left: -34px;
}

.order-list strong {
  color: #ff0000;
}

.order-list ol.alternating-colors li:nth-child(odd):before {
  border-color: #0BAD02;
}

.order-list ol.alternating-colors li:nth-child(even):before {
  border-color: #0BAD02;
}

/* Order Button */
.button-order {
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(26, 171, 255, 0.7);
  --c-color-2: #1A23FF;
  --c-color-3: #E21BDA;
  --c-color-4: rgba(255, 232, 26, 0.7);
  /* --c-shadow: rgba(255, 223, 87, 0.5);
  --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
  --c-radial-inner: #FFD215;
  --c-radial-outer: #FFF172; */
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}

.button-order:hover {
  --duration: 3s;
  --easing: linear;
  --c-color-1: rgba(0, 255, 115, 0.7);
  --c-color-2: #00f5fd;
  --c-color-3: #E21BDA;
  --c-color-4: rgba(255, 232, 26, 0.7);
  --c-shadow: rgba(250, 111, 255, 0.5);
  --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
  --c-radial-inner: #FFD215;
  --c-radial-outer: #FFF172;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}


.button-order:before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.button-order .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 132px;
  padding: 12px 0;
}

.button-order .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.button-order .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  -webkit-animation: var(--animation, none) var(--duration) var(--easing) infinite;
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.button-order .wrapper .circle.circle-1,
.button-order .wrapper .circle.circle-9,
.button-order .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.button-order .wrapper .circle.circle-3,
.button-order .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.button-order .wrapper .circle.circle-5,
.button-order .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.button-order .wrapper .circle.circle-2,
.button-order .wrapper .circle.circle-7,
.button-order .wrapper .circle.circle-8,
.button-order .wrapper .circle.circle-11,
.button-order .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.button-order .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.button-order .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.button-order .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.button-order .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.button-order .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.button-order .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.button-order .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.button-order .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.button-order .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.button-order .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.button-order .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.button-order .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@-webkit-keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@-webkit-keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@-webkit-keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@-webkit-keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@-webkit-keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@-webkit-keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@-webkit-keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@-webkit-keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@-webkit-keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@-webkit-keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@-webkit-keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@-webkit-keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
  min-height: 100vh;
  font-family: "Inter";
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B1E4F;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  width: 76px;
}

body .twitter {
  position: fixed;
  display: block;
  right: 112px;
  bottom: 14px;
}

body .twitter svg {
  width: 24px;
  height: 24px;
  fill: white;
}

/* Order Button GSAP*/
/* .add-to-cart {
  transform: translate(42px, 18px);
  --color: #000;
  --background: #fff;
  --drop: #38E739;
  --background-s: 1;
  --text-o: 1;
  --text-x: 10px;
  --bottle-x: -40%;
  --bottle-y: -60px;
  --bottle-s: .4;
  --bottle-r: 0deg;
  --bottle-o: 0;
  --cart-x: -57px;
  --cart-y: -2px;
  --cart-r: 0deg;
  --cart-s: 0.8;
  --check-y: 0px;
  --check-s: 0;
  --check-offset: 8.5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  padding: 12px 0;
  margin: 0;
  width: 142px;
  color: var(--color);
  cursor: pointer;
  position: relative;
  text-align: center;
  font: inherit;
}

.add-to-cart.clipped {
  -webkit-clip-path: polygon(0 -80px, 100% -80px, 100% 80px, 0 80px);
  clip-path: polygon(0 -80px, 100% -80px, 100% 80px, 0 80px);
}

.add-to-cart .background,
.add-to-cart .cart,
.add-to-cart .check {
  position: absolute;
  pointer-events: none;
}

.add-to-cart .background {
  left: 0;
  top: -4px;
  right: 0;
  bottom: 0;
  display: block;
  fill: var(--background);
  transform: scale(var(--background-s)) translateZ(0);
}

.add-to-cart span {
  position: relative;
  z-index: 1;
  line-height: 18px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  opacity: var(--text-o);
  transform: translateX(var(--text-x)) translateZ(0);
}

.add-to-cart .drop {
  position: absolute;
  z-index: 1;
  left: 70px;
  top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--drop);
}

.add-to-cart .cart {
  z-index: 2;
  bottom: 11px;
  left: calc(50% - 2px);
  transform-origin: 10px 17px;
  transform: translate(var(--cart-x), var(--cart-y)) scale(var(--cart-s)) rotate(var(--cart-r)) translateZ(0);
}

.add-to-cart .cart svg {
  display: block;
  width: 24px;
  height: 19px;
  stroke: var(--color);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  position: relative;
  z-index: 1;
  transform: translateZ(0);
}

.add-to-cart .cart img {
  display: block;
  position: absolute;
  bottom: 7px;
  left: 50%;
  opacity: var(--bottle-o);
  transform-origin: 50% 100%;
  transform: translate(var(--bottle-x), var(--bottle-y)) scale(var(--bottle-s)) rotate(var(--bottle-r)) translateZ(0);
}

.add-to-cart .check {
  bottom: 0;
  left: 50%;
  padding: 2px;
  background: var(--background);
  border-radius: 50%;
  transform: translate(-50%, var(--check-y)) scale(var(--check-s)) translateZ(0);
}

.add-to-cart .check svg {
  display: block;
  width: 10px;
  height: 10px;
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color);
  stroke-dasharray: 8.5px;
  stroke-dashoffset: var(--check-offset);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
} */

/* List Order Detail */
.orders-list {
  max-width: 500px;
  height: 400px;
  padding: 5px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  overflow: auto;
}

ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

ol span {
  content: " ";
  position: relative;
  display: block;
  padding: .4em .4em .4em 2.5em;
  margin: .5em 0;
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
}

ol span:hover {
  background: #E9E4E0;
  text-decoration: line-through;
  cursor: pointer;
  color: #ff0202;
}

ol span:hover:before {
  content: "X";
  color: rgb(255, 255, 255);
  background: #ff0202;
  transform: rotate(360deg);
}

ol span:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0.2em;
  top: 60%;
  margin-top: -1.3em;
  background: #03e2ff;
  height: 2em;
  width: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

/* MENU SECTION */
.u-section-1 {
  margin: 1.5rem 0 0 0;
}

.u-section-1 .u-text-1 {
  width: 707px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 838px;
}

.u-section-1 .u-container-layout-1 {
  border-style: dotted;
  padding: 0;
  overflow-y: scroll;
}

.u-section-1 .u-list-1 {
  width: 496px;
  height: 860px;
  margin: 10px auto 10px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  min-height: 781px;
  grid-gap: 25px 25px;
}

.u-section-1 .u-list-item-1 {
  /* background-image: linear-gradient(#c9c9c9, #b7b7b7); */
  background-color: #2cccc4;
  border: 2px solid rgb(78 78 78);
  /* box-shadow: 0px 0px 8px 0px rgba(128,128,128,1); */
}

.u-section-1 .u-list-item-1:hover {
  background-color: #2cccc4;
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0;
}

.u-section-1 .u-image-1 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 10px auto 0px auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  height: 70px;
  overflow-y: scroll;
  margin: 30px 20px 0;
  color: white;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 10px auto;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-image-2 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-image-3 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 1);
  background-image: linear-gradient(#db545a, #2cccc4);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-image-4 {
  height: 195px;
  width: 196px;
  border-style: solid;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 30px 20px 0;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 47px auto 0;
  padding: 6px 20px 7px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-1 .u-container-layout-6 {
  border-style: dotted;
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-7 {
  border-style: dotted;
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 427px;
}

.u-section-1 .u-container-layout-8 {
  border-style: dotted;
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1830px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 691px;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 739px;
  }

  .u-section-1 .u-image-1 {
    border-style: dotted;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-2 {
    border-style: dotted;
  }

  .u-section-1 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-3 {
    border-style: dotted;
  }

  .u-section-1 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-image-4 {
    border-style: dotted;
  }

  .u-section-1 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 339px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2148px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 539px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 539px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2697px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 809px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 809px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2262px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 509px;
  }
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-2:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-3:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected])>.u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}

.u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-btn-4:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1) !important;
  border-radius: 10px !important;
}